<nav>
    <ul>
        <li>
            <a href="/" <% if (current=='/' ) { %> class="active" <% } %>>Home</a>
        </li>
        <li>
            <a href="/lessons" <% if (current=='/lessons' ) { %> class="active"<% } %>>Lessons</a>
        </li><li>
            <a href="/stories" <% if (current=='/stories' ) { %> class="active"<% } %>>Stories</a>
        </li>
        <li>
            <a href="/playlists" <% if (current=='/playlists' ) { %> class="active"<% } %>>Playlists</a>
        </li>
        <li>
            <a href="/profile" <% if (current=='/profile' ) { %> class="active"<% } %>>Profile</a>
        </li>
        <li>
            <a href="/testing" <% if (current=='/testing' ) { %> class="active"<% } %>>Testing</a>
        </li>
    </ul>
</nav>