<%- include('./partials/head') %>

    <%- include('./partials/navigation', {current: '/' }); %>


        <main class="homepage-main">

            <%- include('./partials/penguin-svg') %>

                
            
        </main>

        <%- include('./partials/foot') %>