<%- include('./partials/head') %>

    <%- include('./partials/navigation', {current: '/' }); %>


        <main class="homepage-main">
            <section class="homepage-main_wrapper">

                <div class="homepage_text-bubble_wrapper">
                    <div class="homepage_text-bubble">
                        <h1>Welcome, Tom!</h1>
                    </div>
                    <div class="text-bubble_corner">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                            preserveAspectRatio="none">
                            <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
                        </svg>
                    </div>
                </div>

                <div class="mouse-svg">
                    <%- include('./partials/mouse-svg') %>
                </div>
        </main>

        <%- include('./partials/foot') %>