<%- include('./partials/head') %>

    <%- include('./partials/navigation', {current: '/' }); %>


        <main class="homepage-main">
            <section class="homepage-main_wrapper">

                <a href="lessons" class="homepage_text-bubble">
                    <h1>Welcome Back, Tom!</h1>
                    <p>Time for another lesson?</p>
                </a>

                <div class="mouse-svg">
                    <%- include('./partials/mouse-svg') %>
                </div>
            </section>
        </main>

        <%- include('./partials/foot') %>