<%- include('./partials/head') %>
    <header>
        <%- include('partials/nav', {current: '/' }); %>
    </header>

    <main>
        <h1>Dit is de lessons page</h1>
    </main>

    <%- include('./partials/foot') %>