<%- include('./partials/head') %>
    <header>
        <%- include('partials/nav', {current: '/testing' }); %>
    </header>

    <p>dit is de playlist page</p>
    <!-- partial with playlists -->
    <%- include('./partials/playlist-view') %>

    <!-- partial with favorite playlists -->


    <%- include('./partials/foot') %>