<%- include('./partials/head') %>
    <header>
        <%- include('partials/nav', {current: '/testing' }); %>
    </header>

    <main>
        <h1>Dit is de profile page</h1>
    </main>

    <%- include('./partials/foot') %>