@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", Arial, Helvetica, sans-serif;

  --primary-one: #121212;
  --primary-two: #fff9f9;
  --primary-three: #dadfe1;

  --home: #54a9ce;
  --lessons: #bf87fb;
  --stories: #ef9ae6;
  --playlists: #ff9089;
  --profile: #f09c89;
  --menu: #5a24d0;
  --menu-backdrop: #29292995;

  --grey: #787878;
  --green: #0d7131;
  --purple: #954be2;
  --purple-accent: #451acf;
  --purple-dark: #471871;
  --blue: #509aef;
  --orange: #f58a43;
  --light-green: #2baa5a;

  --like: #fb96b6;
  --like-hover: #ff6464;
  --like-active: #da3939;

  --gradient-one: linear-gradient(#451971, #162152);
  --gradient-two: linear-gradient(#471871, #040404);
  --gradient-three: linear-gradient(#3f93b7, #1c5872);

  --space-reg: 1.2rem;
  --space-half: 0.6rem;
  --space-small: 0.3rem;
  --space-big: 1.8rem;
  --space-third: 0.9rem;
}

* {
  box-sizing: border-box;
  font-family: var(--poppins);
  margin: 0;
  padding: 0;
}

header button {
  position: fixed;
  display: grid;
  place-items: center;
  top: 5px;
  left: 5px;
  height: 50px;
  width: 50px;
  background-color: var(--menu);
  border: none;
  padding: var(--space-small);
  border-radius: 6px;
  transition: all 0.25s ease-in-out;
}

nav {
  display: none;
  position: fixed;
  top: 0px;
  transition: all 0.3s ease-in-out;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

nav li {
  width: 100%;
  height: 105px;
  list-style: none;
  padding-top: var(--space-small);
  transition: all 0.2s ease-in;
}

nav li:hover {
  width: 120%;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

nav a:visited {
  color: var(--primary-one);
}

nav img {
  width: 50px;
  height: 50px;
}

nav .home {
  background-color: var(--home);
}

nav .lessons {
  background-color: var(--lessons);
}

nav .stories {
  background-color: var(--stories);
}

nav .playlists {
  background-color: var(--playlists);
}

nav .profile {
  background-color: var(--profile);
}

nav li:hover img {
  transition: all 0.2s ease-in-out;
  scale: 1.05;
}

/* hamburger svg animation */

.hamburger rect {
  transition: all 0.25s ease-in-out;
}

svg .rect-one {
  transform-origin: right;
}

svg .rect-three {
  transform-origin: left;
}

.cross .rect-one {
  transform: rotate(-45deg);
  translate: 5px -20px;
}

.cross .rect-three {
  transform: rotate(45deg);
  translate: 35px -55px;
}

.cross .rect-two {
  opacity: 0;
  translate: -200px;
}

/* animations  */

/* nav show */

nav {
  animation: show-menu 0.3s ease-out;
}

@keyframes show-menu {
  from {
    opacity: 0;
    translate: 0px -200px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

/* menu list items hover anim for the images */
nav li:hover img {
  animation: wobble 1.5s ease-in-out alternate infinite;
}

@keyframes wobble {
  from {
    rotate: -2deg;
  }
  to {
    rotate: 2deg;
  }
}

/* menu list item icon anim for when it appears */
nav img {
  animation: show-img 0.5s ease-out 1;
}

/* TODO commented out bc it also does this after hovering and idk how to remove it */
/* @keyframes show-img {
  from {
    opacity: 0;
    scale: 0.2;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}  */

/* toggle classes */

.show {
  display: block;
}

.move-btn {
  translate: 0 110px;
}

@media (min-width: 420px) {
  nav img {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 750px) {
  nav {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
    height: 100vh;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
  }
  
  nav li {
    display: grid;
    place-items: center;
    width: 105px;
    height: 100%;
    list-style: none;
    padding-top: var(--space-small);
    transition: all 0.2s ease-in;
  }
  
  nav li:hover {
    height: 120%;
    width: 100%;
  }

  .move-btn {
    translate: 110px 0;
  }
}